.containerTeam{
    display: flex;
    justify-content: center;
}
.cardContainer{
    display:flex;
    justify-content: center;
}
.subTeam{
    font-size: 30px;
    font-weight: 700;
    color: black;
    text-align: left;
    padding-left: 1vw;
    padding-bottom: 1.5vh;
}
.smallSubTeam{
    font-size: 20px;
    font-weight: 700;
    color: black;
    text-align: left;
    padding-left: 1vw;
    padding-bottom: 1.5vh;
    
}
.vSmallSubTeam{
    font-size: 15px;
    font-weight: 700;
    color: black;
    text-align: left;
    padding-left: 1vw;
    padding-bottom: 1.5vh;
}
.dean{
    height: 52vh;
    margin: 1vw;
}
.adminAcademic{
    height: 52vh;
    margin: 1vw;
}
.adminBTech{
    height: 52vh;
    margin: 1vw;
}
.adminMTech{
    height: 52vh;
    margin: 1vw;
}
.adminPhD{
    height: 52vh;
    margin: 1vw;
}

.adminInternational{
    height: 52vh;
    margin: 1vw;
}
.adminInternational .subTeam{
    font-size: 30px;
    font-weight: 700;
    color: black;
    text-align: left;
}
.support{
    height: 52vh;
    margin: 1vw;
}
.card{
    height: 42vh;
    padding-top: 1vh;
    margin: 1vw;
    background-color: rgb(8, 8, 8);
    align-items: center;
    transition: transform .2s;
    -webkit-transition: transform .2s;
    -moz-transition: transform .2s;
    -ms-transition: transform .2s;
    -o-transition: transform .2s;
}
.smallCard{
    height: 200px;
    padding-top: 1vh;
    margin: 1vw;
    background-color: rgb(8, 8, 8);
    align-items: center;
    transition: transform .2s;
    -webkit-transition: transform .2s;
    -moz-transition: transform .2s;
    -ms-transition: transform .2s;
    -o-transition: transform .2s;
}
.smallCard .img{
    height: 20vh;
    width: 70%;
}
.smallCard .name{
    text-align: center;
    font-weight: 600;
    font-size: 13px;
}
.smallCard .designation{
    width: 18vw;
    padding-top: 1vh;
    color: white;
    font-size: 10px;
}
.vSmallCard{
    height: 106px;
    padding-top: 1vh;
    margin: 1vw;
    background-color: rgb(8, 8, 8);
    align-items: center;
    transition: transform .2s;
    -webkit-transition: transform .2s;
    -moz-transition: transform .2s;
    -ms-transition: transform .2s;
    -o-transition: transform .2s;
}
.vSmallCard .img{
    height: 10vh;
    width: 70%;
}
.vSmallCard .name{
    text-align: center;
    font-weight: 600;
    font-size: 6px;
}
.vSmallCard .designation{
    width: 18vw;
    padding-top: 1vh;
    color: white;
    font-size: 4px;
}
.card:hover{
    transform: scale(1.05);
    background-color:  rgb(3, 168, 163);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
}
.card .img{
    height: 30vh;
    width: 70%;
    margin-top: 1vh;
    border: 2px;
    border-top: 10px;
}
.designation{
    width: 18vw;
    padding-top: 1vh;
    color: white;
    font-size: 15px;
}
.name{
    text-align: center;
    font-weight: 600;
    font-size: 18px;
}
