.containerTeam{
    display: flex;
    justify-content: center;
}
.cardContainer{
    display:flex;
    justify-content: center;
}
.subTeam{
    font-size: 30px;
    font-weight: 700;
    color: black;
    text-align: left;
    padding-left: 1vw;
}
.dean{
    width: 40vw;
    height: 52vh;
    margin: 1vw;
}
.adminAcademic{
    width: 40vw;
    height: 52vh;
    margin: 1vw;
}
.adminBTech{
    width: 82vw;
    height: 52vh;
    margin: 1vw;
}
.adminMTech{
    width: 40vw;
    height: 52vh;
    margin: 1vw;
}
.adminPhD{
    width: 40vw;
    height: 52vh;
    margin: 1vw;
}

.adminInternational{
    width: 30vw;
    height: 52vh;
    margin: 1vw;
}
.adminInternational .subTeam{
    font-size: 30px;
    font-weight: 700;
    color: black;
    text-align: left;
}
.support{
    width: 50vw;
    height: 52vh;
    margin: 1vw;
}
.card{
    width: 18vw;
    height: 42vh;
    padding-top: 1vh;
    margin: 1vw;
    background-color: rgb(8, 8, 8);
    align-items: center;
    transition: transform .2s;
    -webkit-transition: transform .2s;
    -moz-transition: transform .2s;
    -ms-transition: transform .2s;
    -o-transition: transform .2s;
}
.card:hover{
    transform: scale(1.1);
    background-color:  rgb(3, 168, 163);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}
.cardContainer img{
    height: 30vh;
    width: 15vw;
    margin-top: 1vh;
    border: 2px;
    border-top: 10px;
}
.designation{
    width: 18vw;
    padding-top: 1vh;
    color: white;;
    height: 12vh;
}
.name{
    text-align: center;
    font-weight: 600;
    font-size: 18px;
}
