.info{
    font-size: 20x;
    text-align: left;
    font-weight: bold;
}
.smallInfo{
    font-size: 12px;
    text-align: left;
    font-weight: bold;
}
.vSmallInfo{
    font-size: 10px;
    text-align: left;
    font-weight: bold;
}
.subHeadingCert{
    font-size: 30px;
    font-weight: 500;
    color: rgb(3, 168, 163);
    text-decoration: none;
    padding-bottom: 3vh;
    text-decoration: none;
    position: relative;
}
.smallSubHeadingCert{
    font-size: 20px;
    font-weight: 500;
    color: rgb(3, 168, 163);
    text-decoration: none;
    padding-bottom: 3vh;
    text-decoration: none;
    position: relative;
}
.vSmallSubHeadingCert{
    font-size: 15px;
    font-weight: 500;
    color: rgb(3, 168, 163);
    text-decoration: none;
    padding-bottom: 3vh;
    text-decoration: none;
    position: relative;
}
table{
    width: 100%;
    border-collapse: collapse;
}
table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
    padding: 0.5vw;
}
th{
background-color: rgb(3, 168, 163);
}
td{
    background-color: #96D4D4;
}
.sideNav {
    width: 150px;
    position: fixed;
    z-index: 1;
    top: 20px;
    left: 10px;
    overflow-x: hidden;
    padding: 8px 0;
    margin-top: 20vh;
    display:flex;
    transition: background-color 1s;
    flex-direction: column;
}
.main {
    width: 90vw;
    padding-left: 15vw;
}
@media screen and (max-height: 450px) {
    .sideNav {padding-top: 15px;}
    .sideNav a {font-size: 18px;}
}
.sideNav a {
    background: rgb(3, 168, 163);
    padding: 6px 8px 6px 16px;
    margin: 1px;
    text-decoration: none;
    font-size: 15px;
    color: white;
    display: block;
}

.sideNav a:hover {
    background-color: rgb(8,8,8);
}
.smallSideNav {
    width: 10px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 10px;
    overflow-x: hidden;
    margin-top: 20vh;
    display:flex;
    transition: background-color 1s;
    flex-direction: column;
}
.smallSideNav:hover{
    width: 150px;
}
@media screen and (max-height: 450px) {
    .smallSideNav {padding-top: 15px;}
    .smallSideNav a {font-size: 18px;}
}
.smallSideNav a {
    background: rgb(3, 168, 163);
    padding: 6px 8px 6px 16px;
    margin: 1px;
    text-decoration: none;
    font-size: 15px;
    color: white;
    display: block;
}

.smallSideNav a:hover {
    background-color: rgb(8,8,8);
}