.info{
    text-align: left;
}

.Certificates{
    padding-left: 20vh;
    padding-right: 20vh;
}
table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
}
th{
background-color: rgb(3, 168, 163);
}
td{
    background-color: #96D4D4;
}