.classContainer{
    display: flex;
    justify-content: space-between;
    width: 90vw;
    padding-left: 10vw;
    /* margin-bottom: 1.5vh; */
}
.cell{
    background-color: rgba(8, 8, 8, 0);
    transition: transform .5s;
    text-decoration: none;
    color:white;
    font-size: 30px;
    font-weight: 700;
    -webkit-transition: transform .5s;
    -moz-transition: transform .5s;
    -ms-transition: transform .5s;
    -o-transition: transform .5s;
    position:relative;
}
.smallCell{
    background-color: rgba(8, 8, 8, 0);
    transition: transform .5s;
    text-decoration: none;
    color:white;
    font-size: 20px;
    font-weight: 700;
    -webkit-transition: transform .5s;
    -moz-transition: transform .5s;
    -ms-transition: transform .5s;
    -o-transition: transform .5s;
    position:relative;
}
.vSmallCell{
    background-color: rgba(8, 8, 8, 0);
    transition: transform .5s;
    text-decoration: none;
    color:white;
    font-size: 15px;
    font-weight: 700;
    -webkit-transition: transform .5s;
    -moz-transition: transform .5s;
    -ms-transition: transform .5s;
    -o-transition: transform .5s;
    position:relative;
}
.smallCell:hover{
    background-color:rgba(178, 222, 220, 0);
    transform: scale(1.15);
    -webkit-transform: scale(1.15);
    -moz-transform: scale(1.15);
    -ms-transform: scale(1.15);
    -o-transform: scale(1.15);
}
.vSmallCell:hover{
    background-color:rgba(178, 222, 220, 0);
    transform: scale(1.15);
    -webkit-transform: scale(1.15);
    -moz-transform: scale(1.15);
    -ms-transform: scale(1.15);
    -o-transform: scale(1.15);
}
.cell:hover{
    background-color:rgba(178, 222, 220, 0);
    transform: scale(1.15);
    -webkit-transform: scale(1.15);
    -moz-transform: scale(1.15);
    -ms-transform: scale(1.15);
    -o-transform: scale(1.15);
}
.heading{
    position: relative;
}
.old{
    width: 16vw;
    margin-top: 140px;
    margin-bottom: 2vh;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.smallOld{
    width: 16vw;
    margin-top: 40px;
    margin-bottom: 2vh;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.vSmallOld{
    width: 16vw;
    margin-bottom: 2vh;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.lhc{
    width: 15vw;
    margin-top: 140px;
    margin-bottom: 2vh;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.smallLhc{
    width: 15vw;
    margin-top: 40px;
    margin-bottom: 2vh;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.vSmallLhc{
    width: 15vw;
    margin-bottom: 2vh;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
