.classContainer{
    display: flex;
    justify-content: center;
    /* margin-bottom: 1.5vh; */
}
.cell{
    background-color: rgba(8, 8, 8, 0);
    margin: 1vw;
    width: 26vw;
    height: 50vh;
    transition: transform .2s;
    text-decoration: none;
    color:white;
    font-size: 2vw;
    font-weight: 700;
    -webkit-transition: transform .2s;
    -moz-transition: transform .2s;
    -ms-transition: transform .2s;
    -o-transition: transform .2s;
    position: relative;
}
.cell:hover{
    background-color:rgba(178, 222, 220, 0);
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
}
.heading{
    position: relative;
}
.old{
    width: 15vw;
    margin-top: 20vh;
    margin-bottom: 2vh;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.lhc{
    width: 15vw;
    height: 20vh;
    margin-bottom: 2vh;
    margin-top: 20vh;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
