.contact{
    padding-left: 22vw;
    display:flex;
    justify-content: space-between;
    width: 75vw;
}
.contactSmall{
    width: 75vw;
}
.contactInfo{
    margin-top: 6vh;
}
.contactInfoSmall{
    padding-left: 10vw;
    display: flex;
    justify-content: space-evenly;
    width: 90vw;
}
.contactForm{
    float: left;
    margin-right: 12vw;
}
.contactFormSmall{
    padding-left: 20vw;
}
.sub{
    padding-top: 3vh;
    text-align: left;
    text-decoration: none;
    font-size: 30px;
    font-weight: 500;
    color:  rgb(8,8,8);
}
.subSmall{
    padding-top: 2vh;
    text-align: left;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    color:  rgb(8,8,8);
}
.vSubSmall{
    padding-top: 1vh;
    text-align: left;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    color:  rgb(8,8,8);
}
.content{
    text-align: left;
    color: #555555;
}
.contentSmall{
    text-align: left;
    color: #555555;
    font-size: 12px;
    width: 20vw;
}
.vContentSmall{
    text-align: left;
    color: #555555;
    font-size: 8px;
    width: 20vw;
}
.form{
    width: 20vw;
    float: left;
}
#name{
    width: 30vw;
    height: 5vh;
    margin-top: 1vh;
    border-radius: 5px;
    border: 1px solid #555555;
    padding-left: 1vw;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.contactFormSmall #name{
    width: 55vw;
    font-size: 15px;
}
#email{
    width: 30vw;
    height: 5vh;
    margin-top: 2vh;
    border-radius: 5px;
    border: 1px solid #555555;
    padding-left: 1vw;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.contactFormSmall #email{
    width: 55vw;
    font-size: 15px;
}
#dropdown{
    margin-top: 2vh;
    width: 30vw;
    height: 5vh;
    border-radius: 5px;
    border: 1px solid #555555;
    padding-left: 1vw;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.contactFormSmall #dropdown{
    width: 55vw;
    font-size: 15px;
}
#subject{
    width: 30vw;
    height: 5vh;
    margin-top: 2vh;
    border-radius: 5px;
    border: 1px solid #555555;
    padding-left: 1vw;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.contactFormSmall #subject{
    width: 55vw;
    font-size: 15px;
}
.query{
    width: 30vw;
    height: 20vh;
    margin-top: 2vh;
    margin-bottom: 3vh;
    border-radius: 5px;
    border: 1px solid #555555;
    padding-left: 1vw;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.contactFormSmall .query{
    width: 55vw;
    font-size: 15px;
}
.submit{
    width:30vw;
    font-weight: 500;
    margin-bottom: 2vh;
    font-size: 3vh;
    background-color: rgb(3, 168, 163);
    color: white;
    transition: background-color 0.5s;
    transition: color 0.5s;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    -webkit-transition: color 0.5s;
    -moz-transition: color 0.5s;
    -ms-transition: color 0.5s;
    -o-transition: color 0.5s;
}
.contactFormSmall .submit{
    width: 55vw;
    font-size: 15px;
}
.submit:hover{
    color: rgb(3, 168, 163);
    background-color: rgb(8,8,8);
}