.convocation{
    display: flex;
    justify-content: center;
}
.convoCont{
    width: 30vw;
    height: 50vh;
    padding-top: 1vh;
    background-color:  rgb(8, 8, 8);
    opacity: 0.8;
    margin: 1vw;
    transition: transform .2s;
    margin-bottom: 8.4vh;
    color:white;
    font-weight: 600;
    font-size: 30px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-transition: transform .2s;
    -moz-transition: transform .2s;
    -ms-transition: transform .2s;
    -o-transition: transform .2s;
}
.convoCont:hover{
    background-color:rgb(3, 168, 163);
    opacity: 0.8;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}
.prev{
    padding-top: 2vh;
    width:25vw;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}