.aboutUsContainer{
    display: flex;
    padding-left: 15vw;
    padding-right: 15vw;
    position: absolute;
    margin: auto;
    height: 400px;
    justify-content: center;
    align-items: center;
}

.aboutUs{
    text-align: center;
}
.para{
    font-size: 20px;
    font-weight: 500;
    color: #ffffff;
    padding-top: 1vh;
    padding-bottom: 1vh;
}
.heading{
    font-size: 50px;
    font-weight: 600;
    color: #ffffff;
}


.subHeading{
    font-size: 30px;
    font-weight: 500;
    color:  aliceblue;
    text-decoration: none;
    padding-bottom: 3vh;
    text-decoration: none;
    /* position: absolute; */
}
.academics{
    padding-top: 3vh;
    padding-bottom: 4vh;
    position: relative;
}
.academic{
    position: relative;
    display:flex;
    justify-content: space-between;
    margin-top: 2vh;
    padding-left: 10vw;
    padding-right: 10vw;
}
.academicTeam{
    background-color: rgb(10, 1, 61);
    color:white;
    height: 30vh;
    font-size: 20px;
    font-weight: 500;
    width: 15vw;
    transition: transform .2s;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
.academicTeam:hover{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}
.team{
    padding-top: 2vh;
    padding-bottom: 2vh;
}
.academicAdmin{
    background-color: rgb(10, 1, 61);
    color:white;
    height: 30vh;
    width: 15vw;
    font-size: 18px;
    font-weight: 500;
    transition: transform .2s;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
.academicAdmin:hover{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}
.issueResolution{
    background-color: rgb(10, 1, 61);
    color:white;
    height: 30vh;
    width: 15vw;
    font-size: 20px;
    font-weight: 500;
    transition: transform .2s;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
.issueResolution:hover{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}
.regulations{
    background-color: rgb(10, 1, 61);
    color:white;
    height: 30vh;
    width: 15vw;
    font-size: 20px;
    font-weight: 500;
    transition: transform .2s;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
.regulations:hover{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}
.internals{
    padding-top: 3vh;
    padding-bottom: 4vh;
}
.internal{
    display:flex;
    justify-content: space-between;
    padding-top: 3vh;
    width: 90vw;
    padding-bottom: 3vh;
    padding-left: 20vw;
    padding-right: 10vw;
}
.internalForm{
    background-color:rgba(0, 178, 77, 0.776);
    color:white;
    height: 30vh;
    width: 15vw;
    font-size: 20px;
    font-weight: 500;
    transition: transform .2s;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
.internalForm:hover{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}
.erp{
    background-color: rgba(0, 178, 77, 0.776);
    color:white;
    height: 30vh;
    width: 15vw;
    font-size: 20px;
    font-weight: 500;
    transition: transform .2s;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
.erp:hover{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}
.importantMinutes{
    background-color: rgba(0, 178, 77, 0.776);
    color:white;
    height: 30vh;
    width: 15vw;
    font-size: 20px;
    font-weight: 500;
    transition: transform .2s;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
.importantMinutes:hover{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}
.resources{
    background-color:  rgb(239, 239, 240);
    padding-top: 3vh;
    padding-bottom: 4vh;
}
.resource{
    display:flex;
    justify-content: space-between;
    margin-top: 2vh;
    padding-left: 10vw;
    padding-right: 10vw;
}
.academicCalendar{
    background-color: rgb(10, 1, 61);
    color:white;
    height: 30vh;
    width: 20vw;
    font-size: 20px;
    font-weight: 500;
    transition: transform .2s;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
.academicCalendar:hover{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}
.timetable{
    background-color: rgb(10, 1, 61);
    color:white;
    height: 30vh;
    width: 20vw;
    font-size: 20px;
    font-weight: 500;
    transition: transform .2s;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
.timetable:hover{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}
.examinations{
    background-color: rgb(10, 1, 61);
    color:white;
    height: 30vh;
    width: 20vw;
    font-size: 20px;
    font-weight: 500;
    transition: transform .2s;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
.examinations:hover{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}
.tabHead{
    padding-top:2vh;
}
.links{
    padding-top: 3vh;
    font-size:15px;
}