.smallProject .subHeading{
    font-size: 22px;
}
.smallProject .projectLinks{
    font-size: 15px;
}
.vSmallProject .subHeading{
    font-size: 15px;
}
.vSmallProject .projectLinks{
    font-size: 10px;
}