.smallReport .subHeading{
    font-size: 20px;
}
.smallReport .projectLinks{
    font-size: 15px;
}
.vSmallReport .rows{
    padding-top: 0;
    display: block;
    padding-left: 20vw;
}
.vSmallReport .section{
    width: 60vw;
}
.vSmallReport .subHeading{
    font-size: 15px;
}
.vSmallReport .projectLinks{
    font-size: 10px;
}