.smallReport .subHeading{
    font-size: 23px;
}
.smallReport .projectLinks{
    font-size: 18px;
}
.vSmallReport .rows{
    padding-top: 0;
    display: block;
    padding-left: 20vw;
}
.vSmallReport .section{
    width: 60vw;
}
.vSmallReport .subHeading{
    font-size: 18px;
}
.vSmallReport .projectLinks{
    font-size: 14px;
}