.rows{
    display: flex;
    justify-content: space-evenly;
    padding-top: 5vh;
    padding-bottom: 5vh;

}
.page{
    background-color:white;
    color: white;
    width: auto;
    font-size: 20px;
    font-weight: 500;
}
.white{
    color: #ffffff;
}
.section{
    background-color:rgb(8, 8, 8);
    opacity: 0.8;
    margin: 1vw;
    height: auto;
    width: 27vw;
    padding-bottom: 2vh;
    font-size: 20px;
    font-weight: 500;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.section:hover{
    background-color:rgb(3, 168, 163);

    /* opacity: 0.8; */
    transform: scale(1.02);
    transition: all 0.2s ease-in-out;
}
.section:hover .subHeading{
    color:rgb(8, 8, 8);
}

.subHeading{
    font-size: 30px;
    font-weight: 500;
    color: rgb(3, 168, 163);
    text-decoration: none;
    padding-bottom: 3vh;
    text-decoration: none;
    position: relative;
}

.projectLinks{
    display: flex;
    justify-content: space-evenly;
    color: aliceblue;
    text-decoration: none;
    /* padding-top: 2vh;
    padding-bottom: 2vh; */
}